<ion-tabs class="tabs-icon-top tabs-striped tabs-stable">

 	<ion-tab href="#/tab/profile" icon="ion-person" title="Profile">
 		<ion-nav-view name="profile-tab"></ion-nav-view>
 	</ion-tab>

 	<ion-tab href="#/tab/camera" icon="ion-camera" title="Camera">
 		<ion-nav-view name="camera-tab"></ion-nav-view>
 	</ion-tab>

 	<ion-tab href="#/tab/list" icon="ion-ios-people ion-android-people"
 		title="Contacts" badge="2" badge-style="badge-positive">
		<ion-nav-view name="list-tab"></ion-nav-view>
	</ion-tab>

</ion-tabs>