.center {
    position: relative;
    margin: 0;
    text-align: center;
}

.vert-center {
    /*position: absolute;*/
    padding-top: 25%;
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

/*.grad {
    background: linear-gradient(#aaf6ad, #61da66);
    height: 100%;
}*/

/* Contacts: Display */
.contacts-column {
    width: 32%;
    display: inline-block;
    border: none;
    margin: 1px;
    text-align: center
}

.contacts-column-img {
	width: 100%;
}

.contacts-column .item-content {
	padding: 0;
}

.contacts-category-container .list {
	margin-left: -1px;
	margin-right: -10px;
	margin-top: -2px;
}

/* Contacts: Search Bar*/
/*
.platform-android .bar-subheader{
	top: 93px !important;
}

.platform-android .has-subheader {
	top: 137px;
}
*/

/* Contacts: Bottom Button */
.bottom-button {
    position: fixed;
    bottom: -0.6em;
    border-radius: 0px;
}

/*
.platform-android .bottom-button {
    bottom: -0.6em;
}
*/

/* Profile */
.profilePhoto {
	height: 100%;
}

.slider {
    height: 100%;
}

/* Side Menu: Left Checkmarks*/
.item-icon-left .item-content {
    padding-left:3em;  
}

.item-icon-left i {
    left:0;
    right: auto;
}

/*.contact-detail-container input {
  padding-left: 35px;
  padding-right: 45px;
}

.contact-detail-container a {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 35px;
}*/

.intro-buttons-container {
    position: fixed; 
    bottom: 50px;
    width: 100%;
}

.intro-buttons-container > div {
    width: 325px;
    margin-left: auto;
    margin-right: auto;

}

.intro-buttons-container button {
    width: 160px;
}

.contact-detail-button-bar {
    bottom: 0;
    position: fixed;
}

.contact-detail-notes {
    margin-bottom: 0;
}

.contact-detail-notes .item {
    border-top: none;
}
