<ion-view hide-nav-bar="true" view-title="Sign Up">

      <div class="bar bar-loading bar-assertive" ng-if="error.isLoading">
        {{errorMessage}}
      </div>
      
      <ion-content class="login-background" ng-class="{'has-loading': error.isLoading}">

      <div class="login-logo-container"><img src="assets/img/logo.png">Get pointed in the right direction</div>

      <form name="signupForm" ng-submit="signUp(signupForm)">
        <div class="list list-inset login-form-container">
            <label class="item item-input">
                <input type="text" placeholder="Full Name" ng-model="signupForm.fullName">
            </label>
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="signupForm.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Enter Password" ng-model="signupForm.password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Confirm Password" ng-model="signupForm.passwordConfirm">
            </label>
            <button class="button button-outline button-block button-light">
                Sign Up
            </button>
        </div>
      </form>

      <div class="login-container"><a href="#/login">Already have an account? <strong>Log in here.</strong></a></div>

      </ion-content>
      
</ion-view>