<ion-view view-title="Sign Up">

      <div class="bar bar-loading bar-assertive" ng-if="error.isLoading">
        {{errorMessage}}
      </div>
      
      <ion-content ng-class="{'has-loading': error.isLoading}">

      <form name="signupForm" ng-submit="signUp(signupForm)">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Full Name" ng-model="signupForm.fullname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="signupForm.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Enter Password" ng-model="signupForm.password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Confirm Password" ng-model="signupForm.passwordConfirm">
            </label>
            <button class="button button-outline button-block button-positive">
                Sign Up
            </button>
        </div>
        
        <!-- Test for qr code -->
        <img id="qr-image" width="100%"></img>

      </form>


      </ion-content>
      
</ion-view>