<ion-view view-title="Profile">
    <ion-content>
        <div class="item item-body">
            <div ng-hide="user.card">
                <button ng-click="showActionSheet()">Take A Profile Picture</button>
            </div>
            <img ng-show="user.card" id="user.card" ng-src="{{user.card}}" alt="Your Business Card" ng-click="showActionSheet()"></img>
            <h2>{{ user.name }}</h2>
        </div>

        <ion-list type="list-inset">

            <ion-item class="item item-icon-left item-inset">
                <i class="icon ion-ios-telephone ion-android-call ion-positive"></i>
                <span class="item-note">714-732-9082</span>          
            </ion-item>

            <ion-item class="item item-icon-left item-inset">
                <i class="icon ion-email ion-positive"></i>
                <span class="item-note">{{user.email}}</span>          
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
