<ion-view view-title="Profile">

    <ion-content class="has-footer">
        <div class="item item-body">
            <div ng-hide="user.card">
                <button class="button button-full button-light" 
                style="border: 1px dashed grey; border-radius:5px; height:135px;"
                ng-click="showProfileActionSheet()">Click to Add Your Business Card</button>
            </div>
            <img ng-show="user.card" id="user.card" ng-src="{{user.card}}" alt="Your Business Card" ng-click="showProfileActionSheet()"></img>
        </div>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-ios-person ion-positive placeholder-icon"></i>
                <input type="text" ng-model="user.firstName" ng-blur="updateProfile()" placeholder="First Name"></input>
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-person-outline ion-positive placeholder-icon"></i>
                <input type="text" ng-model="user.lastName" ng-blur="updateProfile()" placeholder="Last Name"></input>
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-telephone ion-android-call ion-positive placeholder-icon"></i>
                <input type="phone" ng-model="user.phone" ng-blur="updateProfile()" placeholder="xxx-xxx-xxxx" style="border: none; height: 34px;"></input>   
            </label>
            <label class="item item-input">
                <i class="icon ion-email ion-positive placeholder-icon"></i>
                <input type="email" ng-model="user.email" ng-blur="updateProfile()" placeholder="email@example.com"></input>
            </label>
            <label class="item item-input">
                <i class="icon ion-briefcase placeholder-icon"></i>
                <input type="text" ng-model="user.title" ng-blur="updateProfile()" placeholder="Web Developer, Chef, Jedi..."></input>
            </label>
            <label class="item item-input">
                <i class="icon ion-home placeholder-icon"></i>
                <input type="text" ng-model="user.company" ng-blur="updateProfile()" placeholder="Facebook, Uber, Hogwarts..."></input>
            </label>
        </div>

    </ion-content>
            
    <a ng-click="shareContact()"><div class="button button-block button-positive bottom-button" style="width:100%">Share Contact</div></a>


</ion-view>
