<ion-view view-title="Log In">
      <ion-content>

      <form name="signupForm" ng-submit="logIn(loginForm)">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="loginForm.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="loginForm.password">
            </label>
            <button class="button button-outline button-block button-positive">
                Log In
            </button>
        </div>

      </form>

      <div style="text-align:center"><a href="#/signup">Don't have an account? Sign up here.</a></div>


      </ion-content>
      
</ion-view>