<ion-header-bar class="bar-positive">
	<h2 class="title">More Info</h2>
</ion-header-bar>

<ion-view>
	<ion-content ng-repeat="contact in contacts | filter: { id: whichContact }">
		<ion-list>
			<ion-item class="item-text-wrap item-thumbnail-left" >
				<img ng-src="{{ contact.thumbnail_url }}" alt="photo">
				<h2>{{ contact.name }}</h2>
				<h3>{{ contact.title }}</h3>
				<p>{{ contact.slogan }}</p>
			</ion-item>
		</ion-list>
		<div class="card">
			<div class="item item-divider item-dark item-icon-right">
				<i class="icon ion-edit detail-notes-icon"></i>
				Notes
			</div>
			<div class="item item-text-wrap">
			{{ contact.notes }}
			</div>
		</div>
		<ion-list type="list-inset">
			<ion-item class="item item-divider item-dark">Links</ion-item>
			<ion-item class="item item-icon-left item-inset" ng-repeat="link in contact.links">
				<i class="icon {{ link.icon }} ion-positive"></i>
				{{ link.link_name }}
				<span class="item-note">{{ link.username }}</span>			
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>