<ion-view view-title="Profile">
    <ion-content>
when there is a profile picture, show the image tag
when there is no profile picture, show the div with teh button to take a picture
        <div>
            <div ng-hide="profilePhoto">
                <button ng-click="showActionSheet()">Take A Profile Picture</button>
            </div>
            <img ng-show="profilePhoto" id="profilePhoto" ng-src="{{profilePhoto}}" alt="Your Business Card"></img>
        </div>


    </ion-content>
</ion-view>
