<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{title}}">

    <ion-nav-title>{{title}}</ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-navicon" ng-click="toggleRightSideMenu()"></button>
    </ion-nav-buttons>


    <ion-side-menus enable-menu-with-back-views="true">

        <ion-side-menu side="right">
            <ion-content class="has-header">
                <ion-list>
                    <a class="item item-icon-left" ng-click="profile()">
                        <i class="icon ion-gear-a"></i>My Account
                    </a>
                    <a class="item item-icon-left" ng-click="logout()">
                        <i class="icon ion-power"></i>Sign Out
                    </a>
                </ion-list>
            </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>
        
            <ion-content class="contact-detail-container">

                <div class="contact-detail-image-container">
                    <img class="full-image" src="{{contact.card}}" ng-click="showContactActionSheet()">
                </div>

                <div class="list contact-detail-notes">
                    <li class="item">
                    <p>{{contact.notes ? contact.notes : "Notes"}}</p>
                    </li>

                  </label>
                </div>

                <div class="padding">
                    <div><h4>{{contact.title}} at {{contact.company}}</h2></div>

                    <div><h5>{{contact.firstName + " " + contact.lastName}}</h5></div>

                    <div>
                        <p>
                            {{contact.phone}}
                            <a class="contact-detail-icon button ion-ios-telephone-outline" ng-href="tel: {{contact.phone}}"></a>
                        </p>
                    </div>

                    <div>
                        <p>
                            {{contact.email}}
                            <a class="contact-detail-icon button ion-ios-email-outline" ng-href="mailto: {{contact.email}}"></a>   
                        </p>
                    </div>

                    <div><p>Tags: {{selectedTag}}
                        <span style="font-size:14px;" ng-repeat="selectedTag in selectedTags">
                            <span ng-show="isNotFirst(selectedTag)">,</span>{{selectedTag}}
                        </span>
                    </div>

                </div>

            </ion-content>




            <div class="contact-detail-button-bar button-bar">
                  <a ng-href="#/contacts/{{contact.id}}/edit" class="button button-default">Edit Contact</a>
                  <a class="button button-positive">Share Contact</a>
            </div>
        </ion-side-menu-content>

    </ion-side-menus>



</ion-view>
