<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{contact.name}}">
    <ion-nav-buttons side="right">
        <button menu-toggle="right"class="button button-icon icon ion-edit" ng-click="toggleEditMode()"></button>
    </ion-nav-buttons>

    <ion-content>
        <div>
            <img class="full-image" src="{{contact.card}}" ng-click="showContactActionSheet()">
        </div>

        <div class="list">
            <label class="item item-input">
                <i class="icon ion-person ion-positive placeholder-icon"></i>
                <input type="text" ng-model="contact.name" placeholder="Full Name"></input>
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-telephone ion-android-call ion-positive placeholder-icon"></i>
                <input type="phone" ng-model="contact.phone" placeholder="xxx-xxx-xxxx" style="border: none; height: 34px;">
            </label>
            <label class="item item-input">
                <i class="icon ion-email ion-positive placeholder-icon"></i>
                <input type="email" ng-model="contact.email" placeholder="email@example.com">
            </label>
            <label class="item item-input">
                <i class="icon ion-document-text ion-positive placeholder-icon"></i>
                <input type="text" ng-model="contact.notes" placeholder="Notes"></input>
            </label>
        </div>

        <button ng-click="updateContact()"> Update Contact </button>
        <button ng-click="removeContact()"> Delete Contact </button>

    </ion-content>

</ion-view>
