<ion-view view-title="{{title}}">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-ios-pricetag" ng-click="toggleLeftSideMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon" ng-click="toggleRightSideMenu()"></button>
    </ion-nav-buttons>

    <!--
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    -->

    <ion-side-menus enable-menu-with-back-views="true">

        <ion-side-menu side="left">
            <ion-content class="has-header">
                <ion-list>
                    <!-- TODO: think about what type of functionality -->
                    <label class="item" ng-click="clearSelectedTags()">
                        <!-- <input type="checkbox" name="selectTags" ng-checked="false"> -->
                        <div class="item-content"> Clear All Filters </div>
                    </label>
                    <label class="item item-radio" ng-repeat="tag in tags | orderBy:'tag'" ng-click="toggleSelectTag(tag)">
                        <input type="checkbox" name="selectTags" ng-checked="isSelected(tag)">
                        <div class="item-content"> {{tag | capitalize}} </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </ion-list>
            </ion-content>
        </ion-side-menu>

        <ion-side-menu side="right">
            <ion-content class="has-header">
                <ion-list>
                    <a class="item item-icon-left" ng-click="profile()">
                        <i class="icon ion-gear-a"></i>My Account
                    </a>
                    <a class="item item-icon-left" ng-click="logout()">
                        <i class="icon ion-power"></i>Sign Out
                    </a>
                </ion-list>
            </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>
            <div class="bar bar-subheader item-input-inset">
                <label class="item-input-wrapper textbox-search">
                    <i class="icon ion-search placeholder-icon"></i>
                    <!-- <input ng-show="checkField('company')" type="search" placeholder="Search by Company" ng-model="search.company"> -->
                    <input ng-show="checkField('name')" type="search" placeholder="Search by Name" ng-model="search.name">
                    <!-- 
                    <input ng-show="checkField('phone')" type="search" placeholder="Search by Phone" ng-model="search.phone">
                    <input ng-show="checkField('email')" type="search" placeholder="Search by Email" ng-model="search.email"> 
                    -->
                </label>
                <!-- <button class="button button-icon icon ion-android-search" ng-click="openPopover($event)"></button> -->
            </div>

            <ion-content class="has-subheader">
                <ion-list>
                    <!-- Order by Field and Filter by Tag-->
                    <!-- May phase out if filter by tags not needed -->
                    <!--
                    <ion-item class="contacts-column" ng-repeat="contact in contacts | selectTags:selectedTags | filter:search | orderBy:field" href="#/tab/contacts/{{contact.id}}"> 
                    -->
                    
                    <!-- With Dividers -->
                    <span ng-repeat="(company, companyContacts) in companies | orderBy:company">
                        <ion-item class="item item-divider" ng-show="checkSearch(selectedTags, search, company)"> {{company}} </ion-item>
                        <ion-item class="item item-avatar" ng-repeat="contact in companyContacts | selectTags:selectedTags | filter:search | orderBy:field" href="#/contacts/{{contact.id}}"> 
                            <img ng-src="assets/img/ionic.png">
                            <h2>{{contact.name}}</h2>
                            <p>{{contact.title}}</p>
                        </ion-item>
                    </span> 
                    
                    <!-- By Company -->
                    <!--
                    <ion-item class="item item-avatar" ng-repeat="contact in contacts | selectTags:selectedTags | filter:search | orderBy:field" href="#/contacts/{{contact.id}}">
                        <img ng-src="assets/img/ionic.png">
                        <h2>{{contact.company}}</h2>
                        <p>{{contact.firstName + " " + contact.lastName}}, {{contact.title}}</p>
                    </ion-item>
                    -->
                    
                </ion-list>

            </ion-content>

            <button class="button button-block button-positive bottom-button" ng-click="showContactActionSheet()">
                Add Contact                 
            </button>
        </ion-side-menu-content>

    </ion-side-menus>

</ion-view>