<ion-view view-title="{{title}}">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-ios-pricetag" ng-click="toggleLeftSideMenu()"></button>
    </ion-nav-buttons>

    <!--
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    -->

    <ion-side-menus>

        <ion-side-menu side="left">
            <ion-content class="has-header">
                <ion-list>
                    <label class="item item-radio" menu-close ng-click="filterBy('')">
                        <input type="radio" name="filterTags" ng-checked="true">
                        <div class="item-content"> All </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio" menu-close ng-repeat="tag in tags | orderBy:'$value'" ng-click="filterBy(tag.$value)">
                        <input type="radio" name="filterTags">
                        <div class="item-content"> {{tag.$value | capitalize}} </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </ion-list>
            </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>
            <div class="bar bar-subheader item-input-inset">
                <label class="item-input-wrapper textbox-search">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input ng-show="checkField('name')" type="search" placeholder="Search by Name" ng-model="search.name">
                    <input ng-show="checkField('phone')" type="search" placeholder="Search by Phone" ng-model="search.phone">
                    <input ng-show="checkField('email')" type="search" placeholder="Search by Email" ng-model="search.email">
                </label>
                <button class="button button-icon icon ion-android-search" ng-click="openPopover($event)"></button>
            </div>

            <ion-content class="has-subheader">
                <ion-list class="contacts-category-container">
                    <!-- Order by Field and Filter by Tag-->
                    <ion-item class="contacts-column" ng-repeat="contact in contacts | filter:tag | filter:search | orderBy:field" href="#/tab/contacts/{{contact.id}}">
                        <img class="contacts-column-img" ng-src="{{contact.card}}">
                        <h2>{{contact.name}}</h2>
                        <!--
                        <h2 ng-show="checkField('name')">{{contact.name}}</h2>
                        <h2 ng-show="checkField('phone')">{{contact.phone}}</h2>
                        <h2 ng-show="checkField('email')">{{contact.email}}</h2> 
                        -->
                    </ion-item>
                </ion-list>

            </ion-content>
        </ion-side-menu-content>

        <!--
        <ion-side-menu side="right">
            <ion-content class="has-header">
                <ion-list>
                    <label class="item item-radio" menu-close ng-repeat="field in fields" ng-click="searchBy(field)">
                        <input type="radio" name="searchFields" ng-checked="$index==0?true:false">
                        <div class="item-content"> {{field | capitalize}} </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </ion-list>
            </ion-content>
        </ion-side-menu>
        -->

    </ion-side-menus>

</ion-view>