<ion-view view-title="Notes">

    <ion-nav-title>Notes for {{contactEdit.firstName}} {{contactEdit.lastName}}</ion-nav-title>
    
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-navicon" ng-click="toggleRightSideMenu()"></button>
    </ion-nav-buttons>

    <ion-side-menus enable-menu-with-back-views="true">

        <ion-side-menu side="right">
            <ion-content class="has-header">
                <ion-list>
                    <a class="item item-icon-left" ng-click="profile()">
                        <i class="icon ion-gear-a"></i>My Account
                    </a>
                    <a class="item item-icon-left" ng-click="logout()">
                        <i class="icon ion-power"></i>Sign Out
                    </a>
                </ion-list>
            </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>

            <ion-content class='padding'>

                <div class="list">
                    <textarea id="contactNotes" ng-model="contactEdit.notes"></textarea>                
                </div>


            </ion-content>

            <div class="contact-detail-button-bar button-bar">
                  <!-- <a ng-click="removeContact()" class="button button-clear button-assertive">Delete Contact</a> -->
                  <a ng-click="goBackToDetail()" class="button button-assertive">Cancel</a>
                  <a ng-click="updateContactNotes()" class="button button-positive">Save Notes</a>
            </div>

        </ion-side-menu-content>

    </ion-side-menus>


</ion-view>

